# Firebase test
PUBLIC_TEST_API_KEY=
PUBLIC_TEST_AUTH_DOMAIN=
PUBLIC_TEST_PROJECT_ID=
PUBLIC_TEST_STORAGE_BUCKET=
PUBLIC_TEST_MESSAGE_SENDER_ID=
PUBLIC_TEST_APP_ID=
PUBLIC_TEST_MEASUREMENT_ID=

# Firebase prod
PUBLIC_PROD_API_KEY=
PUBLIC_PROD_AUTH_DOMAIN=
PUBLIC_PROD_PROJECT_ID=
PUBLIC_PROD_STORAGE_BUCKET=
PUBLIC_PROD_MESSAGE_SENDER_ID=
PUBLIC_PROD_APP_ID=
PUBLIC_PROD_MEASUREMENT_ID=

# Stripe test
PUBLIC_TEST_STRIPE_SK=
PUBLIC_TEST_STRIPE_PRODUCT_ID_PRO=
PUBLIC_TEST_STRIPE_PRODUCT_ID_ORG=
PUBLIC_TEST_STRIPE_PRODUCT_ID_ENTERPRISE=
# get login with 'stripe login' then get this from 'bun stripe:listen'
PUBLIC_TEST_STRIPE_WEBHOOK_ID= 

# Stripe prod
PUBLIC_PROD_STRIPE_SK=
PUBLIC_PROD_STRIPE_PRODUCT_ID_PRO=
PUBLIC_PROD_STRIPE_PRODUCT_ID_ORG=
PUBLIC_PROD_STRIPE_PRODUCT_ID_ENTERPRISE=
PUBLIC_PROD_STRIPE_WEBHOOK_ID=

# URLs
PUBLIC_TEST_URL=
PUBLIC_PROD_URL=

# GitHub prod
PUBLIC_GITHUB_APP_ID=
PUBLIC_GITHUB_PRIVATE_KEY=

# GitHub test
PUBLIC_GITHUB_APP_URL_TEST=
PUBLIC_GITHUB_APP_ID_TEST=
PUBLIC_GITHUB_PRIVATE_KEY_TEST=