# Firebase test
PUBLIC_TEST_API_KEY="EXAMPLE_KEY"
PUBLIC_TEST_AUTH_DOMAIN="example.firebaseapp.com"
PUBLIC_TEST_PROJECT_ID="example-project"
PUBLIC_TEST_STORAGE_BUCKET="example.appspot.com"
PUBLIC_TEST_MESSAGE_SENDER_ID="1234567890"
PUBLIC_TEST_APP_ID="1:1234567890:example:1234567890"
PUBLIC_TEST_MEASUREMENT_ID="G-EXAMPLE"

# Firebase prod
PUBLIC_PROD_API_KEY="EXAMPLE_KEY"
PUBLIC_PROD_AUTH_DOMAIN="example.firebaseapp.com"
PUBLIC_PROD_PROJECT_ID="example-project"
PUBLIC_PROD_STORAGE_BUCKET="example.appspot.com"
PUBLIC_PROD_MESSAGE_SENDER_ID="1234567890"
PUBLIC_PROD_APP_ID="1:1234567890:example:1234567890"
PUBLIC_PROD_MEASUREMENT_ID="G-EXAMPLE"