# Firebase test
TEST_API_KEY="EXAMPLE_KEY"
TEST_AUTH_DOMAIN="example.firebaseapp.com"
TEST_PROJECT_ID="example-project"
TEST_STORAGE_BUCKET="example.appspot.com"
TEST_MESSAGE_SENDER_ID="1234567890"
TEST_APP_ID="1:1234567890:example:1234567890"
TEST_MEASUREMENT_ID="G-EXAMPLE"

# Firebase prod
PROD_API_KEY="EXAMPLE_KEY"
PROD_AUTH_DOMAIN="example.firebaseapp.com"
PROD_PROJECT_ID="example-project"
PROD_STORAGE_BUCKET="example.appspot.com"
PROD_MESSAGE_SENDER_ID="1234567890"
PROD_APP_ID="1:1234567890:example:1234567890"
PROD_MEASUREMENT_ID="G-EXAMPLE"