{
	"parser": "@typescript-eslint/parser",
	"extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "prettier"],
	"plugins": ["svelte3", "@typescript-eslint"],
	"overrides": [
		{
			"files": ["*.svelte"],
			"parser": "svelte-eslint-parser",
			"parserOptions": {
				"parser": {
					"ts": "@typescript-eslint/parser",
					"js": "espree",
					"typescript": "@typescript-eslint/parser"
				}
			}
		}
	],
	"settings": {
		"svelte3/typescript": true
	},
	"env": {
		"es6": true,
		"browser": true,
		"node": true
	},
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module",
		"tsconfigRootDir": "__dirname",
		"project": ["./tsconfig.json"],
		"extraFileExtensions": [".svelte"]
	},
	"ignorePatterns": ["node_modules"]
}
